<template>
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-6">
            <section>
                <form id="account" method="post" submit.trigger="onSubmit($event)">
                    <h4>Register a new account.</h4>
                    <ul validate.bind="controller.errors">
                        <li repeat.for="error of controller.errors">
                          ${error}
                        </li>
                      </ul>
                    <hr />

                    <div class="form-group"> 
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="far fa-address-card"></i>
                                </div>
                            </div>
                            <input class="form-control" type="text" value.bind="_firstName" placeholder="First name" />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="far fa-address-card"></i>
                                </div>
                            </div>
                            <input class="form-control" type="text" value.bind="_lastName" placeholder="Last name"/>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>
                            <input class="form-control" type="email" value.bind="_email" placeholder="Email" />
                        </div>
                    </div>

  

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </div>
                            </div>
                            <input class="form-control" type="password" value.bind="_password" placeholder="Password" />
                        </div>
                    </div>
                    

               
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
              
                </form>
            </section>
        </div>

    </div>
</template>
