<template>
    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                When will I pay for the order?
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              You will pay once the order is completed, meaning users have collaboratively ordered for at least 298 euros. Completion will be indicated under My Orders -> Order status ('Order completed') and the option to pay will become available. After that the order will be forwarded to Thomann.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How do I know how much do I have to pay for the parcel sending fee?
            </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                If you have selected to send the parcel to an Omniva parcel machine, the parcel sending fee will be added to the order sum after the order has been completed. If you have ordered multiple items, we will try to send them in as few packages as possible, to limit the fees. You can acquainted with Omniva parcel sending fees 
                <a rel="noopener noreferrer" target="_blank" href="https://www.omniva.ee/public/files/failid/hinnakiri-pakk-pakiautomaat-ja-e-teenindus-era-est-ee-2017-new.pdf"> here.</a>
            </div>
              </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can I track my order?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Yes! After the order has been completed and forwarded to Thomann, a tracking link will be provided ASAP.
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                  What are the paying options?
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                As of the moment only bank transfer is accepted.
              </div>
            </div>
          </div>
      </div>
</template>
